[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = HEIJU12138
	email = HEIJU12138@users.noreply.github.com
[push]
	default = matching
[core]
	quotepath = false
	autocrlf = false
